<p>
	<strong>Name :</strong>
	<%= @type.name %>
</p>

<%= form_for([@type, @type.images.build]) do |f| %>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "back", types_path %>
<%= link_to 'Edit', edit_type_path(@type) %>