<p>
	<strong>Name :</strong>
	<%= @type.name %>
</p>


<h2>Images</h2>
<%= render @type.images %>

<h2>Add new url</h2>
<%= render 'images/form' %>

<%= link_to "back", types_path %>
<%= link_to 'Edit', edit_type_path(@type) %>